*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;   
   font-family: lagart;
}

body{  
   background:linear-gradient(to top, rgb(211, 211, 3),#000);
   color:rgb(250, 230, 0);
   min-height:100vh; /*hace que el largo sea el de la ventana permitiendo crecer*/  
}

h1{
   margin: 30px;
   text-align: center;
   font-weight: 900;
   font-size:45px;
   text-shadow: 0 0 45px  rgb(255, 255, 171);
}

nav {
   text-align: center;
   font-size: 22px;
   margin-bottom: 20px;
}

a {
   padding: 20px;
   color:rgb(250, 230, 0);
   text-decoration: none;
}

p {
   font-size: 20px;
   padding-top:20px ;
   font-weight: 900;
}

input ,select{
   height: 25px;
   width: 222px;
   font-size: 15px;
   text-align: center;
   background-color: rgb(243, 243, 159);
   font-weight:600;   /*peso de la letra*/
}

select{
   width: 222px;
}

button {
   width: 100px;
   height: 40px;
   background-color: rgb(241, 241, 81);
   font-weight: 600;
   color: rgb(53, 54, 1);
   border: 2px solid  rgb(231, 231, 106);
   border-radius: 15px;
   margin: 10px;   
}

form  {  /*para login*/
   width:100%;
   box-sizing: border-box;
   max-width: 500px;
   margin: auto;
   margin-top: 50px;
   /*background-color: rgb(223, 219, 9);*/
   padding: 50px;
}

li{
   color:black;
   font-size: 13px;
}

footer{
   text-align: center;
   color: #000;
   font-weight: 400;
}

section{
   margin: auto;
   margin-top: 10px;
   width: 500px;
   border: solid;
   border-bottom:3px solid  rgb(209, 209, 20) ;
   padding: 25px;
   color:rgb(250, 230, 0);
   box-shadow: 0 0 50px 0px  #000;
}

ol{
   margin-left: 50px;
}

.section-cajaPrincipal {
   height: auto;
}

.section-cajaSecundaria{
   margin-top: 20px;
   display: flex;
   justify-content: center; /*centra horizontalmente*/
   align-items: center;/*align-item es para verticalmente*/
   gap: 5px; /*separacion entre elementos*/
   height: 70px;
}

.div-opciones-inputs{
   display: flex;
   margin-top: 15px;
}

.div-inputs, .div-opciones{
   width: 222px;
}
.div-opciones{
   font-size: 20px;
}

.div-opciones-label, .div-inputs-item{
   height:50px ;
}

.input-pequeño, .label-input{
   width: 51px;
   margin-right: 9px;
}

.div-resultado{
   margin-top:20px;

}

.div-botones{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   font-weight: 600;

}

.boton_presionado{
   background-color: rgb(196, 180, 221);
}

#div-info-vueltas{
   display: flex;
}

#tiempo-total-tarea{
   letter-spacing: 2px;
   font-size: 20px;

}

#tiempo-finalizacion{
   color: #000;
   margin-bottom: 20px;
   font-weight: 900;
   font-size: 20px;
   letter-spacing: 2px;
   text-align: center;   
}

#boton-iniciar-tareas{
   display: none;
}

#label-boton {
   color: #000;
   font-weight: 900;

}